*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.container{
    background-image: url("../images/graduate.jpg");
    background-size: cover;
    height: 100vh;
    text-align: center;
    color: blue;

}
 .heading{
   
    padding-top: 100px;
} 
.buttons{
  
   margin-top: 20rem;
    
}
button{
    padding: 10px;
    width: 150px;
    border-radius: 20px;
    border: none;
    color: blue;
    
}
 @media all and (max-width:564px){
    .container{
        flex-direction: column;
    }
  
} 










    